<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/stylesheets/css/style.css">

    <title>Table #8</title>
  </head>
  <body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark top-nav">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Memberships</a>
          </li>
        </ul>
      </div>
    </nav>
 
  <div class="content">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark search-nav">
      <form class="form-inline my-2 my-lg-0 search-form" action="/products/search" method="post">
        <div class="left-s-form">
        
          <input class="form-control mr-sm-2" id="search" name="searchValue" type="search" placeholder="Search" aria-label="Search">
        
        <div>
          <select class="form-control" id="categoryDropdown" name="catId">
            <option value="" selected disabled>Category</option>
            <% uniqueCategories.forEach(function(category) { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }); %>
          </select>
        </div>

        <div>
          <select class="form-control" id="brandDropdown" name="brandId">
            <option value="" selected disabled>Brand</option>
            <% uniqueBrands.forEach(function(brand) { %>
            <option value="<%= brand.id %>"><%= brand.name %></option>
            <% }); %>
          </select>
        </div>

        <!-- Hidden input for searchtype -->
        <input type="hidden" id="search-type" name="searchType">
       
      </div>
        <div class="right-s-form">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button onclick="window.location.href='http://localhost:3300/home';" class="btn btn-outline-success my-2 my-sm-0 btn-clear" type="button">Clear</button>
        </div>
      </form>
    </nav>
    
    <div class="container">

      <button type="button" class="btn btn-primary btn-block plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
        </svg> Add Product
      </button>
      
      
      <div class="table-responsive custom-table-responsive">
        
        <table class="table custom-table">
          <thead>
            <tr>  
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">isDeleted</th>
              <th scope="col">Brand</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
              
            </tr>
          </thead>
          <tbody>
            <% products.forEach(function(product, index) { %>
            <tr scope="row">
              <td>
                <img class="product-img" src="<%= product.imageUrl %>" alt="">
              </td>
              <td>
                <%= product.name %>
              </td>
              <td>
                <%= product.description %>
              </td>
              <td>
                <%= product.unitPrice %>
              </td>
              <td>
                <%= product.stock %>
              </td>
              <td>
                <%= product.isDeleted %>
              </td>
              <td>
                <%= product.Brand %>
              </td>
              <td>
                <%= product.Category %>
              </td>
              <td>
                <div class="btn-container">
                <button type="button" class="btn btn-secondary edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                  </svg>
                </button>
              </div>
              </td>
          
            <% }); %>
          </tbody>
        </table>
      
      </div>


    </div>

  </div>

   <!-- Product modal --> 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="/products/add" method="post"> 
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" name="name">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Description:</label>
              <input type="text" class="form-control" name="desc">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Price:</label>
              <input type="number" class="form-control" name="price">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Stock:</label>
              <input type="number" class="form-control" name="stock">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">imageUrl:</label>
              <input type="text" class="form-control" name="imageUrl">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Brand ID:</label>
              <input type="number" class="form-control" name="brandId">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Category ID:</label>
              <input type="number" class="form-control" name="categoryId">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Product</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>


    <!-- Success/Error Modals -->
    <% if (typeof message !== 'undefined' && typeof messageType !== 'undefined' && message) { %>
    <% if (messageType === 'success') { %>
        <div class="modal fade" id="success-alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                The product is added to database.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <% } else if (messageType === 'error') { %>
      <div class="modal fade" id="error-alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header error-head">
              <h5 class="modal-title" id="exampleModalLabel">Error</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Failed to add the product to the database. Please try again
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  <% } %>

    <!-- Scripts -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  
  </body>
</html>