<!doctype html>
<html lang="en">
  <head>
    
    <%- include('./partials/head.ejs') %>

    <title>Memberships</title>

  </head>
  <body>
   
  <%- include('./partials/navbar.ejs') %>

  <%- include('./partials/alertModals.ejs') %>

  <h2>Memberships</h2>
 
  <div class="content">

    <div class="container">

      <button type="button" class="btn btn-primary btn-block plus" data-bs-toggle="modal" data-bs-target="#addModal">
        Create Membership
      </button>

      <div class="table-responsive custom-table-responsive">
      
        <table data-type="memberships" class="table custom-table">
          <thead>
            <tr class="table-head">  
              <th scope="col">Type</th>
              <th scope="col">Discount</th>
              <th scope="col">Options</th>
            </tr>
          </thead>

          <tbody class="membership-tbody">
            <% memberships.forEach(function(membership, index) { %>
              <tr scope="row" data-membership="<%= JSON.stringify(membership) %>">
                <td>
                  <%= membership.type %>
                </td>
                <td>
                <%= membership.discount %>
              </td>
              <td>
                <div class="btn-container"> 
                <button type="button" class="btn btn-secondary edit" data-id="<%= membership.id %>" data-bs-toggle="modal" data-bs-target="#editModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                  </svg>
                </button>          
              </div>
              </td>

            </tr>
            <% }); %>
          </tbody>
        </table>
   
      </div>
    </div>
  </div>

     <!-- Add modal --> 
     <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create Membership</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
  
            <form action="/memberships/add" method="post"> 
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name (Type):</label>
                <input type="text" class="form-control" name="type">
              </div>
  
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Discount (%):</label>
                <input type="number" class="form-control" name="discount">
              </div>
  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  <!-- Edit modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Membership</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="/memberships/edit" method="post">
            <!-- Hidden ID -->
            <input type="hidden" name="id">

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name (Type):</label>
              <input type="text" class="form-control" name="type">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Discount (%):</label>
              <input type="number" class="form-control" name="discount">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/alertModals.ejs') %>

  <%- include('./partials/scripts.ejs') %>
  <script src="/js/memberships.js"></script>

  </body>
</html>