<!doctype html>
<html lang="en">
  <head>
    
    <%- include('./partials/head.ejs') %>

    <title>Orders</title>

  </head>
  <body>
   
  <%- include('./partials/navbar.ejs') %>

  <%- include('./partials/alertModals.ejs') %>

  <h2>Orders</h2>
 
  <div class="content">

    <div class="container">

      <div class="table-responsive custom-table-responsive">
      
        <table data-type="orders" class="table custom-table">
          <thead>
            <tr class="table-head">  
              <th scope="col">ID</th>
              <th scope="col">Order No</th>
              <th scope="col">Units</th>
              <th scope="col">User</th>
              <th scope="col">Membership</th>
              <th scope="col">Status</th>
              <th scope="col">Options</th>
            </tr>
          </thead>

          <tbody class="order-tbody">
            <% orders.forEach(function(order, index) { %>
              <tr scope="row" data-order="<%= JSON.stringify(order) %>">
                <td>
                  <%= order.id %>
                </td>
                <td>
                <%= order.orderNumber %>
              </td>
              <td>
                <%= order.numOfProducts %>
              </td>
              <td>
                <%= order.userId %>
              </td>
              <td>
                <%= order.membershipId %>
              </td>
              <td>
                <%= order.orderStatusId %>
              </td>
              
              <td>
                <div class="btn-container"> 
                <button type="button" class="btn btn-secondary edit" data-id="<%= order.id %>" data-bs-toggle="modal" data-bs-target="#editModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                  </svg>
                </button>          
              </div>
              </td>

            </tr>
            <% }); %>
          </tbody>
        </table>
   
      </div>
    </div>
  </div>

  <!-- Edit modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="/orders/edit" method="post">
            <!-- Hidden ID -->
            <input type="hidden" name="id">

            <div class="mb-3">
              <select class="form-control" id="statusDropdown" name="statusId">
                <option value="" selected disabled>Status</option>
                <option value="1">In Progress</option>
                <option value="2">Ordered</option>
                <option value="3">Completed</option>
              </select>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/alertModals.ejs') %>

  <%- include('./partials/scripts.ejs') %>
  <script src="/js/orders.js"></script>

  </body>
</html>