<!doctype html>
<html lang="en">
  <head>
    
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/css/style.css">

    <title>Products</title>

  </head>
  <body>
   
  <%- include('./partials/navbar.ejs') %>
  
 
  <div class="content">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark search-nav">
      <form class="form-inline my-2 my-lg-0 search-form" action="/products/search" method="post">
        <div class="left-s-form">
        
          <input class="form-control mr-sm-2" id="search" name="searchValue" type="search" placeholder="Search" aria-label="Search">
        
        <div>
          <select class="form-control" id="categoryDropdown" name="catId">
            <option value="" selected disabled>Category</option>
            <% uniqueCategories.forEach(function(category) { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }); %>
          </select>
        </div>

        <div>
          <select class="form-control" id="brandDropdown" name="brandId">
            <option value="" selected disabled>Brand</option>
            <% uniqueBrands.forEach(function(brand) { %>
            <option value="<%= brand.id %>"><%= brand.name %></option>
            <% }); %>
          </select>
        </div>

        <!-- Hidden input for searchtype -->
        <input type="hidden" id="search-type" name="searchType">
       
      </div>
        <div class="right-s-form">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button onclick="window.location.href='http://localhost:3300/products';" class="btn btn-outline-success my-2 my-sm-0 btn-clear" type="button">Clear</button>
        </div>
      </form>
    </nav>
    
    <div class="container">

      <button type="button" class="btn btn-primary btn-block plus" data-bs-toggle="modal" data-bs-target="#addModal">
         Create Product
      </button>
      
      
      <div class="table-responsive custom-table-responsive">
        
        <table data-type="products" class="table custom-table">

          <thead>
            <tr class="table-head">  
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">isDeleted</th>
              <th scope="col">Brand</th>
              <th scope="col">Category</th>
              <th scope="col">Options</th>
            </tr>
          </thead>

          <tbody>
            <% products.forEach(function(product, index) { %>
              <!-- Here i store the product data in a json, so i can load it into a editModal -->
            <tr scope="row" data-product="<%= JSON.stringify(product) %>">
              <td>
                <img class="product-img" src="<%= product.imageUrl %>" alt="">
              </td>
              <td>
                <%= product.name %>
              </td>
              <td>
                <%= product.description %>
              </td>
              <td>
                <%= product.unitPrice %>
              </td>
              <td>
                <%= product.stock %>
              </td>
              <td>
                <%= product.isDeleted ? 'true' : 'false' %>
              </td>
              <td>
                <%= product.Brand %>
              </td>
              <td>
                <%= product.Category %>
              </td>
              <td>
                <div class="btn-container">

                <button type="button" class="btn btn-secondary edit" data-id="<%= product.id %>" data-bs-toggle="modal" data-bs-target="#editModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                  </svg>
                </button>
              </div>
              </td>
            <% }); %>
          </tbody>
        </table>
   
      </div>
    </div>
  </div>

   <!-- Add modal --> 
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="/products/add" method="post"> 
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" name="name">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Description:</label>
              <input type="text" class="form-control" name="desc">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Price:</label>
              <input type="number" class="form-control" name="price">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Stock:</label>
              <input type="number" class="form-control" name="stock">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">imageUrl:</label>
              <input type="text" class="form-control" name="imageUrl">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Brand ID:</label>
              <input type="number" class="form-control" name="brandId">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Category ID:</label>
              <input type="number" class="form-control" name="categoryId">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Product</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="/products/edit" method="post">
            <!-- Hidden ID -->
            <input type="hidden" name="id">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" name="name">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Description:</label>
              <input type="text" class="form-control" name="desc">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Price:</label>
              <input type="number" class="form-control" name="price">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Stock:</label>
              <input type="number" class="form-control" name="stock">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">imageUrl:</label>
              <input type="text" class="form-control" name="imageUrl">
            </div>

            <div class="form-check form-switch switch-div">
              <label class="form-check-label" for="flexSwitchCheckDefault">Delete Product (no/yes):</label>
              <input class="form-check-input" name="isDeleted" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Brand ID:</label>
              <input type="number" class="form-control" name="brandId">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Category ID:</label>
              <input type="number" class="form-control" name="categoryId">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Product</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/alertModals.ejs') %>

  <%- include('./partials/scripts.ejs') %>
  <script src="/js/products.js"></script>

  </body>
</html>